.custom-toast {
  background: #ffff !important;
  color: #000 !important;
  border-radius: 12px !important;
  padding: 14px 18px !important;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.error-toast {
  background: #dc2626 !important;
  color: white !important;
  border-radius: 12px !important;
}