@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
    /* cursor: none; */

}

/* ===== Horizontal scrollbar: ultra thin + indigo ===== */
.step-scroll::-webkit-scrollbar {
  height: 4px;            /* <<< THIS controls thickness */
}

.step-scroll::-webkit-scrollbar-thumb {
  background-color: #6366f1; /* indigo-500 */
  border-radius: 9999px;
}

.step-scroll::-webkit-scrollbar-track {
  background: transparent;
}

 